<div class="container">

  <header>
    <h1>AngularCLI - Build project from scratch</h1>
  </header>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="about">About</a>
  </nav>

  <main class="columns">

    <article>
      <header>
        <h1>Components</h1>
      </header>
      <section>
        <app-contact></app-contact>
      </section>
    </article>

    <article>
      <header>
        <h1>Routing</h1>
      </header>
      <Section>
        routing elements...
        <router-outlet></router-outlet>
      </Section>
    </article>

  </main>
</div>