.container {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: rgb(67, 167, 0);
    }
  }
}

.columns {
  display: flex;

  article {
    flex-grow: 1;
  }
}