<div class="container">

  <header>
    <h1>AngularCLI - Build project from scratch</h1>
  </header>

  <nav>
    <div>
      <a routerLink="/">Home</a>
      <a routerLink="register">Register</a>
      <a routerLink="about">About</a>
    </div>
    <div>
      <h3>Account menu:</h3>
      <a routerLink="account/orders">Orders</a>
      <a routerLink="account/notification">Notification</a>
      <a routerLink="account/options">Options</a>
      <a routerLink="account/reviews">Reviews</a>
    </div>
  </nav>

  <main class="columns">

    <article>
      <header>
        <h1>Components</h1>
      </header>
      <section>
        <app-contact></app-contact>
        <app-about></app-about>
        <app-weather></app-weather>
      </section>
    </article>

    <article>
      <header>
        <h1>Routing</h1>
      </header>
      <Section>
        routing elements...
        <router-outlet></router-outlet>
      </Section>
    </article>

  </main>

  <div style="text-align: center">
    <app-footer></app-footer>
  </div>
</div>